:root {
  --background-color: #73dae7;
  --font-family: "Nunito", sans-serif;
}

h1 {
  font-size: 36px;
  font-weight: 96px;
  padding: 15px;
}
h2 {
  padding: 0;
}
h4 {
  padding: 20px;
  text-align: center;
}
h5 {
  margin-top: -15px;
}

.btn-main {
  background-color: blueviolet;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 15px 70px;
  text-align: center;
  transition: all 250ms ease-in-out;
}

.hero {
  background-color: var(--background-color);
  text-align: center;
  padding: 140px 20px;
}
